.pink-states(@hover-color: var(--color-pink), @active-color: var(--color-pink-30)) {
  &:hover {
    color: var(--color-pink);
  }

  &:active {
    color: var(--color-pink-30);
  }
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.centerer {
  box-sizing: border-box;

  @media @desktop {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
  }
}
