.add {
  padding: 19px 20px 29px;
  background-color: var(--color-lightgrey);
}

.add__file {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  height: 374px;
  margin: 0 auto;

  &:focus-within {
    outline: 2px solid var(--color-pink);
  }
}

.add__file-chooser {
  --image: url("../img/photo-add-mobile.jpg");
  --size: 100%;
  --pink: 0;
  --grayscale: 0;
  position: relative;
  width: var(--size);
  height: var(--size);
  margin: auto;
  background-image: var(--image);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  filter: grayscale(var(--grayscale));

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-pink);
    opacity: var(--pink);
  }
}

.add__filters {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -33px 0 38px -48px;
  padding: 43px 0 72px;
  border: none;

  &::after {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    left: -20px;
    height: 1px;
    background-color: var(--color-darkblue-10);
  }
}

.add__filter {
  margin: 32px 0 0 34px;

  &:first-child {
    margin-right: 2px;
  }
}

.add__filter-toggler {
  padding: 0;
  color: var(--color-darkblue-30);
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:first-child {
    margin-left: 3px;
  }

  &:hover {
    color: var(--color-darkblue-50);
  }

  &:active {
    color: var(--color-pink);
  }

  &::before {
    content: "";
    display: block;
    background-color: currentColor;
  }

  &--crop::before {
    width: 44px;
    height: 44px;
    margin-left: 4px; // PP
    mask-image: url("../img/icons/crop.svg");
  }

  &--pink::before {
    width: 48px;
    height: 43px;
    mask-image: url("../img/icons/fill.svg");
  }

  &--grayscale::before {
    width: 32px;
    height: 32px;
    mask-image: url("../img/icons/grayscale.svg");
  }
}

.add__range {
  position: absolute;
  bottom: 28px;
  left: 67px;
  display: none;
  width: calc(100% - 87px);
  margin: 0;
}

.add__filter--active {
  .add__filter-toggler {
    color: var(--color-pink);
  }

  .add__range {
    display: block;
  }
}

.add__button {
  width: 100%;
  margin: 0 0 12px;
  padding: 15px 40px 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  font-family: inherit;
  text-align: center;
  color: var(--color-pink);
  background-color: transparent;
  border: 3px solid var(--color-pink);
  border-radius: 30px;
  cursor: pointer;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &:hover {
    color: var(--color-white);
    background-color: var(--color-pink);
  }

  &:active {
    color: var(--color-white-30);
    background-color: var(--color-pink);
  }

  &--reset {
    color: var(--color-darkblue-10);
    border-color: var(--color-darkblue-10);

    &:hover {
      color: var(--color-darkblue-30);
      background-color: transparent;
      border-color: var(--color-darkblue-30);
    }

    &:active {
      color: var(--color-white-30);
      background-color: var(--color-darkblue-30);
      border-color: transparent;
    }
  }
}
