.content__header {
  min-height: 99px;
  padding: 94px 20px 44px;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-darkblue);
  background-image: url("../img/back-promo-mobile.jpg");
  background-size: cover;
}

.content__heading {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}

.content__lead {
  display: block;
  padding: 43px 20px 51px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: var(--color-darkblue);

  &:last-child {
    padding-bottom: 44px; //PP
  }
}

.content__slot {
  margin: 0;

  &--catalog {
    margin: -1px 0 -3px; //PP
  }

  &--form {
    margin-top: -15px;
  }
}
