.field {
  line-height: 30px;
}

.field__label {
  display: block;
  margin: 0 23px 6px;
  color: var(--color-pink);
  text-transform: uppercase;
}

.field__input {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 14px 20px 15px;
  font-size: 18px;
  line-height: inherit;
  font-family: inherit;
  color: inherit;
  border: 2px solid var(--color-grey);
  border-radius: 3px;
  outline: none;
  transition: border-color 0.3s ease-in-out;

  &::placeholder {
    color: var(--color-darkblue);
    opacity: 1;
  }

  &:hover,
  &:focus-visible {
    border-color: var(--color-darkblue);
  }

  &:active {
    border-color: var(--color-pink);
  }

  &--message {
    min-height: 201px;
    resize: none;
  }
}
