.markets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.markets__item {
  margin: 0 6px;

  @media @tablet-desktop {
    margin: 0 7px;
  }
}

.markets__link {
  display: block;
  width: 47px;
  height: 56px;
  padding: 10px;
  background-repeat: no-repeat;
  background-position: 50%;

  &--apple {
    background-image: url("../img/sprite.svg#icon-market-apple");
    background-size: 49px auto;
  }

  &--android {
    background-image: url("../img/sprite.svg#icon-market-android");
    background-position: 56% 14px;
    background-size: 43px;

    @media @tablet-desktop {
      background-position: 47% 14px;
    }

    @media @desktop {
      background-position: 47% 17px;
    }
  }

  &--windows {
    background-image: url("../img/sprite.svg#icon-market-windows");
    background-position: 54% 17px;
    background-size: 44px;

    @media @tablet-desktop {
      background-position: 37% 14px;
    }

    @media @desktop {
      background-position: 45% 17px;
    }
  }
}
