.page-footer {
  display: grid;
  gap: 38px;
  align-items: center;
  padding: 40px 20px;

  @media @tablet-desktop {
    grid-template-columns: repeat(3, 1fr);
    padding: 35px 20px;
  }

  @media @desktop {
    padding: 98px 20px 35px 20px;

    .centerer();
  }
}

.page-footer__logo {
  min-height: 40px;

  &:hover:not(:active) {
    --color-glasses-stars: currentColor;
  }

  @media @mobile {
    --visibility-glasses: block;
    --translate-text-x: -1px;
    justify-self: center;
  }

  @media @tablet-desktop {
    align-self: start;
    justify-self: start;
  }
}

.page-footer__socials {
  margin: 0;

  @media @desktop {
    margin: 0;
  }
}

.page-footer__logo-dev {
  margin: auto;

  @media @tablet-desktop {
    justify-self: end;
    margin-right: 0;
  }
}
