.page__footer {
  padding: 40px 20px;
  text-align: center;
}

.page-footer__logo {
  display: flex;
  justify-content: center;

  &::before {
    content: "";
    display: block;
    width: 59px;
    height: 40px;
    margin-right: 11px;
    background-image: url("../img/glasses.svg");
    background-repeat: no-repeat;
  }
}
