.promo {
  position: relative;
  z-index: 1;
  padding: 27px 20px 31px;
  color: var(--color-white);
  background-color: var(--color-blackblue);

  @media @tablet-desktop {
    width: 300px;
    background-color: transparent;
  }
}

.promo__button {
  display: block;
  margin: 0 0 22px;
  padding: 15px 20px 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  border: 3px solid var(--color-white);
  border-radius: 29px;

  &:hover,
  &:active {
    background-color: var(--color-white);
  }

  .pink-states();

  @media @tablet-desktop {
    margin-bottom: 36px;
  }

  @media @desktop {
    margin-bottom: 57px;
    padding: 16px 0;
    font-size: 21px;
  }
}

.promo__markets {
  margin: 0 0 11px;

  @media @tablet-desktop {
    margin-bottom: 21px;
  }

  @media @desktop {
    margin-bottom: 42px;
  }
}

.promo__description {
  margin: 0;
  font-weight: 300;
  line-height: 24px;
  text-align: center;

  @media @tablet-desktop {
    font-size: 18px;
  }
}
