{% extends 'layout.njk' %}

{% block main %}
  {% set mix = 'page-main__header' %}
  {% include 'blocks/main-header.njk' %}

  <p class="page-main__description">
    Поделитесь своей историей и получите шанс выиграть ценный приз — 1000 миль на вашу бонусную карту!
  </p>

  {% set mix = 'page-main__form' %}
  {% include 'blocks/form.njk' %}
{% endblock %}

{% block modal %}
  {% set modal = data.success %}
  {% include 'blocks/modal.njk' %}

  {% set modal = data.error %}
  {% include 'blocks/modal.njk' %}
{% endblock %}
