{% extends 'layout.njk' %}

{% block main %}
  {% set mix = 'page-main__promo' %}
  {% include 'blocks/promo.njk' %}

  {% set mix = 'page-main__features' %}
  {% include 'blocks/features.njk' %}

  {% set slider = {
    mix: 'page-main__reviews',
    heading: data.reviews.heading,
    slot: 'reviews',
    togglers: {
      title: 'Отзыв',
      length: data.reviews.list.length
    }
  } %}
  {% include 'blocks/slider.njk' %}

  {% set slider = {
    mix: 'slider--alter page-main__tariffs',
    heading: data.tariffs.heading,
    slot: 'tariffs',
    togglers: {
      title: 'Тариф',
      length: data.tariffs.list.length
    },
    isTable: true
  } %}
  {% include 'blocks/slider.njk' %}

  {% set mix = 'page-main__footer' %}
  {% include 'blocks/contacts.njk' %}
{% endblock %}
