{% import 'data/layout.njk' as config %}
{% import 'data/' + page + '.njk' as data %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>HTML Academy: Пинк &gt; {{ data.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="fonts/opensans.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/opensansbold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/opensanslight.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css{{ ver if ver}}">
    <link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
  </head>
  <body>
    <div class="page viewport viewport--page">
      {% set mix = 'page__header' %}
      {% include 'blocks/page-header.njk' %}

      <main class="page-main page__main">
        {% block main %}
          {% set mix = 'page-main__content' %}
          {% include 'blocks/content.njk' %}
        {% endblock %}
      </main>

      {% set mix = 'page__footer' %}
      {% include 'blocks/page-footer.njk' %}
    </div>

    {% block modal %}
      {% for modal in data.modals %}
        <div class="viewport" id="{{ modal.id }}">
          <a class="viewport__back" href="#">
            <span class="visually-hidden">{{ config.viewportCloseText }}.</span>
          </a>

          {% set mix = 'viewport__modal' +  (' viewport__modal--test' if modal.test) %}
          {% include 'blocks/modal.njk' %}
        </div>
      {% endfor %}
    {% endblock %}

    {% if IS_DEV %}
      <script src="js/dev.js" type="module"></script>
      <script src="https://efiand.github.io/pineglade-pp/pineglade-pp.min.js" defer></script>
    {% endif %}
    <script src="js/script.js" type="module"></script>
  </body>
</html>
