<section class="add {{ mix }}">
  <h2 class="visually-hidden">{{ data.add.heading }}.</h2>

  <form class="add__form" action="{{ config.action }}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="userId" value="{{ config.userId }}">

    <p class="add__file">
      <input
        class="visually-hidden"
        id="add"
        name="image"
        type="file"
        accept="image/jpeg, image/png"
        required
      />
      <label class="add__file-chooser" for="add">
        <span class="visually-hidden">{{ data.add.fileLabel }}.</span>
      </label>
    </p>

    <fieldset class="add__filters">
      <legend class="visually-hidden">{{ data.add.filtersLabel }}.</legend>

      {% for filter in data.add.filters %}
        <p class="add__filter {{ 'add__filter--active' if loop.first }}">
          <button class="add__filter-toggler add__filter-toggler--{{ filter.name }}" type="button">
            <span class="visually-hidden">{{ data.add.togglersPrefix }} {{ filter.label }}.</span>
          </button>
          <label class="visually-hidden" for="{{ filter.name }}">{{ filter.label }}.</label>
          <input
            class="range add__range"
            id="{{ filter.name }}"
            name="{{ filter.name }}"
            type="range"
            min="0"
            max="100"
            step="1"
            value="{{ filter.value }}"
          />
        </p>
      {% endfor %}
    </fieldset>

    <button class="add__button" type="submit">
      {{ data.add.submitTitle }}
    </button>

    <button class="add__button add__button--reset" type="reset">
      {{ data.add.resetTitle }}
    </button>
  </form>
</section>
