<fieldset class="checkers {{ mix }}">
  <legend class="checkers__title">{{ checkers.title }}</legend>

  <ul class="checkers__list">
    {% for checker in checkers.list %}
      <li class="checkers__group">
        <input
          class="checkers__input checkers__input--{{ checkers.type }}"
          id="{{ checkers.name }}--{{ loop.index }}"
          name="{{ checkers.name }}{{ '[]' if checkers.type == 'radio' }}"
          type="{{ checkers.type }}"
          value="{{ checker.value }}"
          {{ 'checked' if checker.checked }}
        />
        <label class="checkers__label" for="{{ checkers.name }}--{{ loop.index }}">
          {{ checker.title }}
        </label>
      </li>
    {% endfor %}
  </ul>
</fieldset>
