<footer class="contacts {{ mix }}">
  {% for lead in data.contacts.leads %}
    <b class="contacts__lead">{{ lead }}</b>
  {% endfor %}

  <dl class="contacts__list">
    {% for link in data.contacts.list %}
      <dt class="contacts__item">{{ link.title }}:</dt>
      <dd class="contacts__description">
        <a class="contacts__link" href="{{ link.href }}">{{ link.description }}</a>
        {% if link.map %}
          <div class="contacts__map"></div>
        {% endif %}
      </dd>
    {% endfor %}
  </dl>
</footer>
