<section class="content {{ mix }}">
  <h2 class="visually-hidden">{{ data.content.subheading or data.content.heading or data.title }}.</h2>

  <b class="content__lead">{{ data.content.prepend }}</b>

  {% if slot %}
    {% set mix = 'content__slot content__slot--' + slot %}
    {% include 'blocks/' + slot + '.njk' %}
  {% endif %}

  {% if data.content.append %}
    <b class="content__lead">{{ data.content.append }}</b>
  {% endif %}
</section>
