<footer class="contacts {{ mix }}">
  <p class="contacts__heading">{{ data.contacts.heading }}</p>

  <dl class="contacts__list">
    <dt class="contacts__item">Звоните:</dt>
    <dd class="contacts__description">
      <a class="contacts__link" href="tel:+78125556666">+7 (812) 555-66-66</a>
    </dd>
    <dt class="contacts__item">Пишите:</dt>
    <dd class="contacts__description">
      <a class="contacts__link" href="mailto:mail@htmlacademy.ru">mail@htmlacademy.ru</a>
    </dd>
    <dt class="contacts__item">Приезжайте в гости:</dt>
    <dd class="contacts__description">
      <a class="contacts__link" href="tel:+78125556666">ул. Большая Конюшенная, 19/8</a>
    </dd>
  </dl>
</footer>
