<footer class="contacts {{ mix }}">
  {% for lead in data.contacts.leads %}
    <p class="contacts__lead">{{ lead }}</p>
  {% endfor %}

  <dl class="contacts__list">
    {% for link in data.contacts.list %}
      <div class="contacts__item">
        <dt class="contacts__title">{{ link.title }}:</dt>
        <dd class="contacts__description">
          <a class="contacts__link" href="{{ link.href }}">{{ link.description }}</a>
        </dd>
      </div>
    {% endfor %}
  </dl>

  <div class="contacts__map map"></div>
</footer>
