<section class="features {{ mix }}">
  <h2 class="visually-hidden">{{ data.features.heading }}.</h2>

  {% for lead in data.features.leads %}
    <b class="features__lead">{{ lead }}</b>
  {% endfor %}

  <dl class="features__list">
    {% for item in data.features.list %}
      <div class="features__item features__item--{{ loop.index }}">
        <dt class="features__title">{{ item.title }}</dt>
        <dd class="features__description">{{ item.description }}</dd>
      </div>
    {% endfor %}
  </ul>
</section>
