<section class="features {{ mix }}">
  <h2 class="visually-hidden">{{ data.features.heading }}.</h2>

  {% for lead in data.features.leads %}
    <b class="features__lead">{{ lead }}</b>
  {% endfor %}

  <ul class="features__list">
    {% for item in data.features.list %}
      <li class="features__item">
        <h3 class="features__title">{{ item.title }}</h3>
        <p class="features__description">{{ item.description }}</p>
      </li>
    {% endfor %}
  </ul>
</section>
