{% macro attrs(field, i) %}
  class="fields__input"
  id="{{ fields.name }}-{{ i }}"
  name="{{ fields.name }}[]"
  placeholder="{{ field.placeholder }}{{ ' *' if field.required }}"
  {{ 'required' if field.required }}
{% endmacro %}

<fieldset class="fields {{ mix }}">
  <legend class="visually-hidden">{{ fields.title }}.</legend>

  {% for field in fields.list %}
  <p class="fields__group">
    <label class="fields__label" for="{{ fields.name }}-{{ loop.index }}">
      {{ field.title }}
    </label>

    {% if field.type == 'textarea'%}
      <textarea {{ attrs(field, loop.index) }}></textarea>
    {% else %}
      <input {{ attrs(field, loop.index) }} type="{{ field.type or 'text' }}">
    {% endif %}
  </p>
  {% endfor %}
</fieldset>
