<form class="form {{ mix }}" action="https://echo.htmlacademy.ru" method="post">
  {% for fieldset in data.fieldsets %}
    {% set mix = 'form__fieldset' %}
    {% include 'blocks/fieldset.njk' %}
  {% endfor %}

  <footer class="form__footer">
    <button class="button form__submit" type="submit">{{ data.content.submitText }}</button>

    <p class="form__description">
      <span class="form__sign">*</span> — {{ data.content.requiredFields }}
    </p>
  </footer>
</form>
