<a class="logo-dev {{ mix }}" href="https://htmlacademy.ru/intensive/adaptive">
  Разработано

  <svg class="logo-dev__image" role="img" aria-label="HTML Academy." width="27" height="34" focusable="false">
    <use xlink:href="img/logo-htmlacademy.svg#logo"/>
  </svg>
</a>
