<a class="logo {{ mix }}" href="index.html" {{ 'aria-current="page"' if page == 'index' }} aria-label="На главную.">
  <svg class="logo__image" role="img" aria-label="Логотип Pink." width="147" height="40" focusable="false">
    <use xlink:href="img/logo-pink.svg#logo"/>
  </svg>
</a>
