<a class="logo-dev {{ mix }}" href="https://htmlacademy.ru/intensive/adaptive" {{ 'aria-current="page"' if page == 'index' }}>
  Разработано
  <img class="logo-dev__image" src="img/logo-htmlacademy.svg" width="60" height="60" alt="Логотип HTML Academy.">
</a>
