<footer class="page-footer {{ mix }}">
  {% set mix = 'page-footer__logo' %}
  {% include 'blocks/logo.njk' %}

  {% set mix = 'page-footer__socials' %}
  {% include 'blocks/socials.njk' %}

  {% set mix = 'page-footer__logo-dev' %}
  {% include 'blocks/logo-dev.njk' %}
</footer>
