<header class="promo {{ mix }}">
  <h1 class="visually-hidden">{{ config.projectName }}.</h1>

  <div class="promo__collage">
    <b class="promo__lead">{{ data.promo.lead }}</b>

    {% set picture = {
      mix: 'promo__picture',
      src: data.promo.image,
      alt: data.promo.imageText
    } %}
    {% include 'blocks/picture.njk' %}
  </div>

  <a class="promo__button" href="{{ data.markets[0].href }}">{{ data.promo.downloadTitle }}</a>

  {% set mix = 'promo__markets' %}
  {% include 'blocks/markets.njk' %}

  <p class="promo__description">{{ data.promo.description }}</p>
</header>
