<ul class="reviews {{ mix }}">
  {% for review in data.reviews.list %}
    <li class="reviews__item">
      <blockquote class="reviews__content">
        <cite class="reviews__author">{{ review.author }}</cite>
        <p class="reviews__comment">{{ review.comment }}</p>
      </blockquote>
    </li>
  {% endfor %}
</ul>
