<section class="reviews">
  <h2 class="visually-hidden">Отзывы.</h2>
  <div class="reviews__wrapper">

    <ul class="reviews__list">
      {% for review in data.reviews %}
        <li class="reviews__item" data-slide="reviews-{{ loop.index }}">
          <blockquote class="reviews__content">
            <cite class="reviews__author">{{ review.author }}</cite>
            <p class="reviews__comment">{{ review.comment }}</p>
          </blockquote>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
