<ul class="togglers {{ togglers.mix }}">
  {% for toggler in range (1, togglers.length + 1) %}
    <li class="togglers__item">
      <button class="togglers__control" type="button" data-toggle="{{ togglers.id }}-{{ loop.index }}">
        <span class="visually-hidden">
          {{ togglers.title }} {{ loop.index }}
        </span>
      </button>
    </li>
  {% endfor %}
</ul>
