<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>HTML Academy: Пинк > {{ title }} </title>
  </head>
  <body class="page">
    <header class="page-header page__header">
      <a class="logo page-header__logo" href="index.html" {{ 'aria-current="page"' if page == 'index' }}>
        <img class="logo__image" src="img/icons/logo.svg" alt="Логотип Pink">
      </a>

      <nav class="nav page-header__nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link {{ 'nav__link--current' if page == 'index' }}" href="index.html" {{ 'aria-current="page"' if
            page == 'index' }}>
            Главная
          </a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#!">
            Фотографии
          </a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#!">
            Конкурс
          </a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#!">
            Html academy
          </a>
          </li>
        </ul>
      </nav>

    </header>
    <main class="page-main page__main">
      {% block main %}{% endblock %}
    </main>

    <footer class="page-footer page__footer">
      <a class="logo page-footer__logo" href="index.html" {{ 'aria-current="page"' if page == 'index' }}>
        <img class="logo__image" src="img/icons/logo.svg" alt="Логотип Pink">
      </a>

      <ul class="socials page-footer__socials">
        <li class="socials__item">
          <a class="socials__link socials__link--vk" href="#!">
            <span class="visually-hidden">Vkontakte.</span>
          </a>
        </li>
        <li class="socials__item">
          <a class="socials__link socials__link--telegram" href="#!">
            <span class="visually-hidden">Telegram.</span>
          </a>
        </li>
        <li class="socials__item">
          <a class="socials__link socials__link--youtube" href="#!">
            <span class="visually-hidden">Youtube.</span>
          </a>
        </li>
      </ul>

      <a class="logo page-footer__logo" href="#! " {{ 'aria-current="page"' if page == 'index' }}>
        Разработано <img class="logo__image" src="img/icons/logo-academy.svg" alt="Логотип HTML Academy.">
      </a>
    </footer>
  </body>
</html>
