{% import 'data/layout.njk' as config %}
{% import 'data/' + page + '.njk' as data %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>HTML Academy: Пинк &gt; {{ data.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="page viewport viewport--page">
      {% set mix = 'page__header' %}
      {% include 'blocks/page-header.njk' %}

      <main class="page-main page__main">
        {% block main %}
          {% set mix = 'page-main__content' %}
          {% include 'blocks/content.njk' %}
        {% endblock %}
      </main>

      {% set mix = 'page__footer' %}
      {% include 'blocks/page-footer.njk' %}
    </div>

    {% block modal %}
      {% for modal in data.modals %}
        <div class="viewport" id="{{ modal.id }}">
          <a class="viewport__back" href="#">
            <span class="visually-hidden">{{ config.viewportCloseText }}.</span>
          </a>

          {% set mix = 'viewport__modal' +  (' viewport__modal--test' if modal.test) %}
          {% include 'blocks/modal.njk' %}
        </div>
      {% endfor %}
    {% endblock %}

    <script>
      window.pinegladePP = {
        breakpoints: [320, 660, 1200]
      };
    </script>
    <script src="https://efiand.github.io/pineglade-pp/pineglade-pp.min.js"></script>
    <script src="js/script.js" type="module"></script>
  </body>
</html>
