{% set title = 'Error 404' %}

{% set content = {
  heading: 'Страница не найдена',
  prepend: 'Вы можете сообщить нам об этом'
} %}

{% import 'data/index.njk' as index %}
{% set contacts = {
  list: [
    index.contacts.list[0],
    index.contacts.list[1]
  ]
} %}
