{% set title = 'Фотографии пользователей' %}

{% set content = {
  heading: 'Фотографии<br>пользователей',
  prepend: 'Взгляните на фотографии, которые выкладывают пользователи!<br>Видите, как не хватает ваших?',
  append: 'Затмите их всех!<br>Выкладывайте все, что накопилось в телефоне!'
} %}

{% set likes = {
  label: 'Поставить лайк',
  prepend: 'Нравится'
} %}

{% set catalog = [
  {
    panorama: 'Панорама дня',
    created: '2017-12-01T00:00:00',
    time: '5 минут назад',
    image: 'photo-1-mobile.jpg',
    imageText: 'Skypark, город Сочи',
    heading: 'Фото 1',
    author: 'Анна',
    description: 'Прыгать или нет? Напишите в комментарии свой совет и<br>смотрите прямую трансляцию в перископе, задавайте свои вопросы!',
    likes: 215
  },
  {
    created: '2017-12-01T00:00:00',
    time: '5 часов назад',
    image: 'photo-2-mobile.jpg',
    imageText: 'Штатив на фоне белой машины',
    heading: 'Фото 2',
    author: 'Левон',
    description: 'Вчера он на луну летал, сегодня в руки к нам попал.',
    likes: 356
  },
  {
    created: '2017-12-01T00:00:00',
    time: '12 часов назад',
    image: 'photo-3-mobile.jpg',
    imageText: 'Музыкальный инструмент - барабан',
    heading: 'Фото 3',
    author: 'Антон',
    description: 'Соседи будут рады!',
    likes: 666
  },
  {
    created: '2017-12-01T00:00:00',
    time: '20 часов назад',
    image: 'photo-4-mobile.jpg',
    imageText: 'Панарамная крыша здания',
    heading: 'Фото 4',
    author: 'Борис',
    description: 'Здесь могла быть ваша цитата о высоком и вечном.',
    likes: 215
  },
  {
    created: '2017-12-01T00:00:00',
    time: '25 часов назад',
    image: 'photo-5-mobile.jpg',
    imageText: 'Кубанский рынок',
    heading: 'Фото 5',
    author: 'Сергей',
    description: 'Самая кубанская в мире!',
    likes: 4
  },
  {
    created: '2017-12-01T00:00:00',
    time: '40 часов назад',
    image: 'photo-6-mobile.jpg',
    imageText: 'Мужчина свесивший ноги сидит на камне',
    heading: 'Фото 6',
    author: 'Максим',
    description: 'Где снег-то?',
    likes: 150
  },
  {
    created: '2017-12-01T00:00:00',
    time: '45 часов назад',
    image: 'photo-7-mobile.jpg',
    imageText: 'Крыло самолета на небе',
    heading: 'Фото 7',
    author: 'Надежда',
    description: 'Всем GM и взаимные лайки!',
    likes: 2560
  }
] %}

{% set add = {
  heading: 'Добавить фотографию',
  fileLabel: 'Добавить файл',
  filtersLabel: 'Фильтры',
  togglersPrefix: 'Переключить на режим',
  filters: [
    {
      name: 'crop',
      value: 85,
      label: 'Обрезать'
    },
    {
      name: 'pink',
      value: 20,
      label: 'Розовый'
    },
    {
      name: 'grayscale',
      value: 50,
      label: 'Чёрно-белый режим'
    }
  ],
  submitTitle: 'Запостить',
  resetTitle: 'Отмена'
} %}
