{% set title = 'Статус отправки' %}

{% set action = '#success' %}

{% set content = {
  heading: 'Ошибка',
  prepend: 'Операция не выполнена'
} %}

{% set modals = [
  {
    test: true,
    id: 'error',
    title: 'Что-то пошло не так!',
    text: 'Проверьте поля, выделенные красным, скорее всего вы забыли их заполнить',
    buttonText: 'ОК'
  }
] %}
