{% set title = 'Главная' %}

{% set tariffs = [
  {
    title: 'База',
    price: '1,99',
    filter: 'yes',
    smiles: 'no',
    comments: 'no'
  },
  {
    title: 'Стандарт',
    price: '3,99',
    filter: 'yes',
    smiles: 'yes',
    comments: 'no'
  },
  {
    title: 'Анлим',
    price: '9,99',
    filter: 'yes',
    smiles: 'yes',
    comments: 'yes'
  }
] %}

{% set socials = [
  {
    title: 'Vkontakte',
    href: '#!',
    icon: 'vkontakte'
  },
  {
    title: 'Telegram',
    href: '#!',
    icon: 'telegram'
  },
  {
    title: 'Youtube',
    href: '#!',
    icon: 'youtube'
  }
] %}
