{% set title = 'Главная' %}

{% set promo = {
  lead: 'Взгляните на жизнь иначе!',
  downloadTitle: 'Скачать приложение',
  description: 'Доступно для iPhone, iPad, Android,
  Windows Phone, OS X, Windows 8'
} %}

{% set features = {
  heading: 'Особенности',
  leads: [
    'Устали от серости мегаполиса?',
    'Нам да, что вам предложить!'
  ],
  list: [
    {
      title: 'Поднимает настроение',
      description: 'Приложение позволит вам победить осеннюю
      хандру и депрессию буквально в несколько кликов!'
    },
    {
      title: 'Меняет мир вокруг',
      description: 'Сделайте снимок и украсьте его смайликом
      или текстовой подписью, чтобы усилить эффект'
    },
    {
      title: 'Заводит новых друзей',
      description: 'Ставьте лайки, комментируйте, делитесь
      фотографиями с друзьями и заводите новых'
    },
  ]
} %}

{% set markets = [
  {
    title: 'Apple',
    href: '#!',
    icon: 'apple'
  },
  {
    title: 'Android',
    href: '#!',
    icon: 'android'
  },
  {
    title: 'Windows',
    href: '#!',
    icon: 'windows'
  }
] %}

{% set reviews = [
  {
    author: 'Николай Петров',
    text: '«Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи!
    А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!»'
  },
  {
    author: 'Анатолий Цой',
    text: '«Это приложение очень актуальное в наше время! Надеюсь оно станет очень популярным.»'
  },
  {
    author: 'Вероника Сергеевна',
    text: '«Приложение невероятно перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи!»'
  }
] %}

{% set tariffs = [
  {
    title: 'База',
    price: '1,99',
    filter: 'yes',
    smiles: 'no',
    comments: 'no'
  },
  {
    title: 'Стандарт',
    price: '3,99',
    filter: 'yes',
    smiles: 'yes',
    comments: 'no'
  },
  {
    title: 'Анлим',
    price: '9,99',
    filter: 'yes',
    smiles: 'yes',
    comments: 'yes'
  }
] %}

{% set contacts = {
  heading: [
    'Остались вопросы?',
    'Свяжитесь с нами!'
  ],
  list: [
  {
    description: '',
    link: ''
  }
] %}
