{% set projectName = 'Pink' %}
{% set action = 'https://echo.htmlacademy.ru' %}
{% set userId = 77777 %}

{% set menu = [
  {
    title: 'Главная',
    href: 'index.html',
    page: 'index'
  },
  {
    title: 'Фотографии',
    href: 'catalog.html',
    page: 'catalog'
  },
  {
    title: 'Конкурс',
    href: 'form.html',
    page: 'form'
  },
  {
    title: 'Html Academy',
    href: '#!',
    page: 'academy'
  }
] %}

{% set socials = [
  {
    title: 'Vkontakte',
    href: '#!',
    icon: 'vkontakte'
  },
  {
    title: 'Telegram',
    href: '#!',
    icon: 'telegram'
  },
  {
    title: 'Youtube',
    href: '#!',
    icon: 'youtube'
  }
] %}
