{% set menu = [
  {
    title: 'Главная',
    href: 'index.html',
    page: 'index'
  },
  {
    title: 'Фотографии',
    href: 'catalog.html',
    page: 'catalog'
  },
  {
    title: 'Конкурс',
    href: 'form.html',
    page: 'form'
  },
  {
    title: 'Html Academy',
    href: '#!',
    page: 'academy'
  }
] %}
