{% set projectName = 'Pink' %}
{% set action = 'https://echo.htmlacademy.ru' %}
{% set userId = 77777 %}

{% set viewportCloseText = 'Закрыть окно' %}

{% set has = {
  yes: 'Есть',
  no: 'Нет'
} %}

{% set slider = {
  prevLabel: 'К предыдущему слайду',
  nextLabel: 'К следующему слайду'
} %}

{% set menu = {
  labelToOpen: 'Открыть меню',
  labelToClose: 'Закрыть меню',
  list: [
    {
      title: 'Главная',
      href: 'index.html',
      page: 'index'
    },
    {
      title: 'Фотографии',
      href: 'catalog.html',
      page: 'catalog'
    },
    {
      title: 'Конкурс',
      href: 'form.html',
      page: 'form'
    },
    {
      title: 'HTML Academy',
      href: '#!',
      page: 'academy'
    }
  ]
} %}

{% set socials = [
  {
    title: 'Vkontakte',
    href: '#!',
    icon: 'vkontakte'
  },
  {
    title: 'Telegram',
    href: '#!',
    icon: 'telegram'
  },
  {
    title: 'Youtube',
    href: '#!',
    icon: 'youtube'
  }
] %}
