<a class="logo-dev {{ mix }}" href="https://htmlacademy.ru/intensive/adaptive">
  Разработано
  <img class="logo-dev__image" src="img/pink-htmlacademy-logo.svg" width="27" height="34" alt="Логотип HTML Academy.">
</a>
