<ul class="markets {{ mix }}">
  {% for market in data.markets %}
    <li class="markets__item">
      <a class="markets__link markets__link--{{ market.icon }}" href="{{ market.href }}">
        <span class="visually-hidden">{{ market.title }}</span>
      </a>
    </li>
  {% endfor %}
</ul>
