<div class="promo {{ mix }}">
  <a class="promo__button" href="{{ data.markets[0].href }}">{{ data.promo.downloadTitle }}</a>

  {% set mix = 'promo__markets' %}
  {% include 'blocks/markets.njk' %}

  <p class="promo__description">{{ data.promo.description }}</p>
</div>
