<ul class="reviews {{ mix }}">
  {% for review in data.reviews.list %}
    <li class="reviews__item">
      <blockquote class="reviews__body">
        <cite class="reviews__author">
          <span class="reviews__author-name">{{ review.author }}</span>
          <span class="reviews__author-note">{{ review.about }}</span>
        </cite>
        <p class="reviews__comment">{{ review.comment }}</p>
      </blockquote>
    </li>
  {% endfor %}
</ul>
