{% set mode = 'table' if slider.isTable else 'list' %}

<section class="slider slider--{{ mode }} {{ slider.mix }}">
  <h2 class="visually-hidden">{{ slider.heading }}.</h2>

  <div class="slider__wrapper slider__wrapper--{{ mode }}">
    {% set mix = 'slider__' + mode %}
    {% include 'blocks/' + slider.slot + '.njk' %}
  </div>

  {% set togglers = {
    mix: 'slider__togglers slider__togglers--' + mode,
    title: slider.togglers.title,
    length: slider.togglers.length,
    activeIndex: slider.activeIndex or 1
  } %}
  {% include 'blocks/togglers.njk' %}

  {% if not slider.isTable %}
    {% for button in ['prev', 'next'] %}
      <button class="slider__ring slider__ring--{{ button }}" type="button">
        <span class="visually-hidden">{{ config.slider[button + 'Label'] }}.</span>
      </button>
    {% endfor %}
  {% endif %}
</section>
