<ul class="socials {{ mix }}">
  {% for link in config.socials %}
    <li class="socials__item">
      <a class="socials__link socials__link--{{ link.icon }}" href="{{ link.href }} ">
        <span class="visually-hidden">{{ link.title }}.</span>
      </a>
    </li>
  {% endfor %}
</ul>
