<table class="tariffs {{ mix }}">
  <thead class="tariffs__header">
    <tr class="tariffs__names">
      <th class="tariffs__empty" scope="col">
        <p class="visually-hidden">{{ data.tariffs.emptyCellText }}.</p>
      </th>

      {% for tariff in data.tariffs.list %}
        <th
          class="tariffs__name {{ 'tariffs__name--central' if loop.index == 2 }} {{ 'labelled' if tariff.label }}"
          scope="col"
        >
          {{ tariff.title }}
          <p class="tariffs__price">{{ tariff.price }} USD</p>
          {% if tariff.label %}
            <p class="labelled__label">{{ tariff.label }}</p>
          {% endif %}
        </th>
      {% endfor %}
    </tr>
  </thead>

  <tbody class="tariffs__props">
    {% for param in data.tariffs.params %}
      <tr class="tariffs__details">
        <th class="tariffs__detail" scope="row">{{ param.title }}</th>

        {% for tariff in data.tariffs.list %}
          <td
            class="tariffs__detail {{ 'tariffs__detail--central' if loop.index == 2 }}"
            data-title="{{ param.title }}"
          >
            <p class="tariffs__value tariffs__value--{{ tariff[param.option] }}">
              <span class="visually-hidden">{{ config.has[tariff[param.option]] }}.</span>
            </p>
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
