.contacts {
  padding: 39px 20px 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.36;
  text-align: center;

  @media @tablet-desktop {
    padding-top: 43px;
  }

  @media @desktop {
    padding-top: 59px;
  }
}

.contacts__lead {
  margin: 0;

  @media @tablet-desktop {
    font-size: 40px;
    line-height: 54px;
  }

  @media @desktop {
    font-size: 50px;
    line-height: 68px;
  }

  & + & {
    @media @mobile {
      margin-top: -3px; // PP
    }
  }
}

.contacts__list {
  display: grid;
  gap: 18px;
  margin: 32px 0 0;

  @media @tablet-desktop {
    grid-template-columns: 1fr 1fr;
    margin: 31px 0 0;
  }

  @media @desktop {
    grid-template-columns: 1fr 1fr 1fr;
    width: 940px;
    margin: 37px auto 0;
  }
}

.contacts__item {
  &:last-child {
    @media @mobile {
      padding-top: 4px; // PP
    }

    @media @tablet {
      grid-column: 1 / -1;
      padding-top: 21px;
    }

    @media @desktop {
      order: 1;
      padding: 0;
    }
  }

  @media @desktop {
    &:nth-child(2) {
      order: 2;
    }
  }
}

.contacts__title {
  font-weight: 700;
  font-size: 18px;

  @media @tablet-desktop {
    margin: 3px 0 3px 0;
    line-height: 25px;
  }

  @media @desktop {
    margin-bottom: 21px;
  }
}

.contacts__description {
  margin: 0;

  @media @tablet-desktop {
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
  }
}

.contacts__description + .contacts__item {
  margin-top: 17px;

  &:last-of-type {
    margin-top: 22px;
  }
}

.contacts__link {
  color: var(--color-pink);
  text-decoration: none;

  &:hover {
    color: var(--color-darkblue);
    text-decoration: underline;
  }

  &:active {
    color: var(--color-darkblue-30);
    text-decoration: none;
  }
}

.contacts__map {
  margin: 34px -20px 0;

  @media @tablet-desktop {
    margin-top: 24px;
  }

  @media @desktop {
    margin-top: 20px;
  }
}
