.slider {
  --count: 3;
  --slide: none;
  position: relative;
  padding: 0 0 32px;

  @media @tablet {
    padding-bottom: 8px;
  }

  @media @desktop {
    padding-bottom: 6px;
  }

  &--table {
    padding-bottom: 37px;
    background-color: var(--color-lightgrey);

    @media @tablet {
      padding-bottom: 34px;
    }

    @media @desktop {
      padding-bottom: 62px;
    }

    &::before {
      content: "";
      display: block;
      height: 18px;
      margin: 0 0 83px;
      background-color: var(--color-white);
      clip-path: polygon(0 0, 100% 0, 0 100%);

      @media @tablet-desktop {
        height: 40px;
        margin-bottom: 57px;
      }

      @media @desktop {
        height: 100px;
      }
    }
  }

  .slider__togglers--table {
    @media @tablet-desktop {
      display: none;
    }
  }

  .slider__togglers--list {
    @media @desktop {
      display: none;
    }
  }
}

.slider__wrapper {
  overflow: hidden;

  &--list {
    &::before,
    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 1;
      width: 100px;
      background-image: linear-gradient(to right, var(--color-white), transparent);
    }

    @media @desktop {
      position: relative;

      &::before {
        content: "";
        left: 0;
      }

      &::after {
        content: "";
        right: 0;
        transform: scaleX(-1);
      }
    }
  }

  &--table {
    @media @desktop {
      .centerer();
    }
  }
}

.slider__list {
  display: grid;
  grid-template-columns: repeat(var(--count), 1fr);
  width: 300%;
  margin: 0;
  transform: var(--slide);
  transition: transform 0.3s ease-in;

  @media @tablet {
    margin: 0 0 29px;
  }
}

.slider__table {
  margin: 0 20px 34px;
  transform: var(--slide);
  transition: transform 0.3s ease-in;

  @media @mobile {
    width: calc(300% - 120px);
    table-layout: fixed;
  }

  @media @tablet-desktop {
    width: calc(100% - 44px);
    margin-right: 22px;
    margin-left: 22px;
    transform: none;
  }

  @media @desktop {
    width: calc(100% - 40px);
    margin-right: 20px;
    margin-left: 20px;
  }
}

.slider__togglers {
  margin: 0;
}

.slider__ring {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  width: 22px;
  height: 41px;
  margin: 30px 20px;
  padding: 0;
  background-color: transparent;
  border: none;
  transform: translateY(-50%);
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--color-darkblue-30);
    mask-image: url("../img/icons/left-arrow.svg");
    mask-size: cover;
  }

  &:hover::before {
    background-color: var(--color-darkblue-60);
  }

  &:active::before {
    background-color: var(--color-darkblue-10);
  }

  &--next {
    right: 0;
    left: auto;

    &::before {
      transform: scaleX(-1);
    }
  }

  @media @mobile-tablet {
    display: none;
  }
}
